<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <style>
        *{
            margin: 2px;
            padding: 2px;

        }
        table{
            border: 2px black;
        }
    </style>
</head>
<body>
<!--<button onclick="window.location.href='/save'">Add</button>-->
<span th:text="${status}"/>
<form action="/save" method ="get">
    <button type="submit" text="Add a new User" > Add New User</button>
</form>
<table border="2" >
    <thead>
    <h1>Company Details : </h1>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Phone No</th>
        <th>Email</th>
        <th>Date</th>
        <th>Mode</th>
        <th>Actions</th>
        <th>Update</th>
    </tr>
    </thead>
    <tbody>

        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.phno}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.date}"></td>
            <td th:text="${user.mode}"></td>
            <td>
                <form th:action="@{/delete/{id}(id=${user.id})}" method="post" onsubmit="return confirm ('are you sre ?')">
                    <input type="hidden" name="_method" value="delete" />
                    <button type="submit" th:text="Remove">remove</button>
                </form>
            </td>
            <td>
                <form th:action="@{/update}" method="post">
                    <input type="hidden" name="id" th:value="${user.id}" />
                    <input type="hidden" name="name" th:value="${user.name}" />
                    <input type="hidden" name="phno" th:value="${user.phno}" />
                    <input type="hidden" name="email" th:value="${user.email}" />
                    <input type="hidden" name="date" th:value="${user.date}" />
                    <input type="hidden" name="mode" th:value="${user.mode}" />
                    <button type="submit">Update</button>
                </form>
            </td>

        </tr>
    </tbody>

</table>
</body>